<script src='https://www.google.com/recaptcha/api.js'></script>
<form action="https://formcarry.com/s/{{ .Get "token" }}" method="POST" accept-charset="UTF-8" >
    <label>
        Name:
        <input type="text" id="name" name="name" required />
    </label>

    <label>
        E-Mail:
        <input type="text" id="email" name="email" required />
    </label>

    <textarea id="nachricht" name="nachricht" required placeholder="Ihre Nachricht" ></textarea>

    <div class="g-recaptcha" data-sitekey="{{ .Get "captcha" }}"></div>
    <input type="submit" value="Absenden">
</form>
