<script src='https://www.google.com/recaptcha/api.js'></script>
<form action="https://formcarry.com/s/{{ .Get "token" }}" method="POST" accept-charset="UTF-8" >
    <label>
        Name
        <input type="text" id="name" name="name" required placeholder=" " aria-labelledby="name"/>
    </label>

    <label>
        E-Mail
        <input type="text" id="email" name="email" required placeholder=" " aria-labelledby="email"/>
    </label>

    <label>
        Ihre Nachricht
        <textarea id="nachricht" name="nachricht" aria-labelledby="nachricht"></textarea>
    </label>

    <div class="g-recaptcha" data-sitekey="{{ .Get "captcha" }}"></div>
    <input type="submit" value="Absenden">
</button>
</form>
