<script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>
<script src="http://bitwiseshiftleft.github.io/sjcl/sjcl.js"></script>
<script src="{{ "member.js" | absURL }}"></script>
<form class="member-area hidden">
    <label>
        Password:
        <input type="password" name="password">
        <span class="error password hidden">Das Passwort ist falsch</span>
        <span class="error internal hidden">Es ist ein interner Fehler aufgetreten</span>
    </label>
    <button class="dbx_login">Anmelden</button>
</form>
<div class="member-area hidden">
    <ul class="filelist"></ul>
    <button>Abmelden</button>
</div>
<script>MemberArea('form.member-area', "{{ .Get "token" }}")</script>
